<div class="signup-wrapper">
    <div class="signup-box text-center">
        <h2>Sign Up</h2>

        <form class="d-flex flex-column align-items-center"
            (ngSubmit)="checkSignUpData($event,{email:emailInput.value,password:passwordInput.value,fullName:fullName.value})">
            <div class="form-group w-100 mb-3" style="max-width: 350px;">
                <label for="fullName" class="form-label">Full Name</label>
                <input id="fullName" type="text" class="form-control custom-input" placeholder="Your full name"
                    #fullName />
            </div>

            <div class="form-group w-100 mb-3" style="max-width: 350px;">
                <label for="email" class="form-label">Email</label>

                <!-- Validation message -->
                 @if(emailExist){
                <div class="validation-message invalid">
                    Email already exists.
                </div>
                }


                @if (this.isSignUp.validEmail != null && !emailExist) {
                <div [class.validation-message]="true" [class.valid]="this.isSignUp.validEmail"
                    [class.invalid]="!this.isSignUp.validEmail">
                    {{ this.isSignUp.validEmail ? 'Valid email' : 'Not valid email' }}
                    @if(!this.isSignUp.validEmail){
                    <div>ex: john&#64;(gmail or icloud).com</div>
                    }
                </div>
                }
                <input id="email" name="email" type="text" class="form-control custom-input"
                    placeholder="Enter your email" #emailInput appEmailvalidate
                    (emailValid)="this.isSignUp.onValidEmail($event)" />
            </div>

            <div class="form-group w-100 mb-4" style="max-width: 350px;">
                <label for="password" class="form-label">Password</label>
                @if (this.isSignUp.validPassword != null) {
                <div [class.validation-message]="true" [class.valid]="this.isSignUp.validPassword"
                    [class.invalid]="!this.isSignUp.validPassword">
                    {{ this.isSignUp.validPassword ? 'Valid password' : 'Not valid password' }}
                    @if(!this.isSignUp.validPassword){
                    <div> Password must be at least 8 characters and include uppercase, lowercase, number, and special
                        character (&#64;$!%*?&amp;#^()\-_=+)
                        .
                    </div>
                    }
                </div>
                }
                <input id="password" type="password" name="password" class="form-control custom-input"
                    placeholder="Enter your password" #passwordInput appPasswordvalidate
                    (passwordValid)="this.isSignUp.onValidPassword($event)" />
            </div>


            <button type="submit" class="btn custom-btn px-5 mb-3">Sign Up</button>
        </form>

        <p>
            Already have an account?&nbsp;
            <a (click)="this.isSignUp.onCheck()" class="link-text">Login</a>
        </p>
    </div>
</div>