.sidebar-container {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 200px;
  padding: 1rem 0;
  background-color: #21201b;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.6);
  color: #fdf8df;
  z-index: 1000;
}

.sidebar-container h3{
    font-size: 1.4rem;
}

.sidebar-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: #fdf8df;
  font-weight: 600;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.sidebar-link:hover,
.sidebar-link.active {
  background-color: #f2e090;
  color: #2c2a21;
}

.icon {
  font-size: 1.4rem;
  width: 2rem;
  text-align: center;
}

/* Responsive: top bar with only icons on small screens */
@media (max-width: 767.98px) {
  .sidebar-container {
    top: 50%;
    left: 0;
    width: 60px; /* narrower width for icons only */
    padding: 1rem 0;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0 20px 20px 0;
  }

  .sidebar-title {
    display: none;
  }

  .links-wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .sidebar-link {
    width: 100%;
    padding: 0.5rem 0;
    justify-content: center;
  }

  .link-text {
    display: none;
  }
}
